/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");
/* MISC */
/* VARIABLES */
/* Colors */
/* Font Sizes */
/* Spacings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

@media (max-width: 576px) {
  body {
    font-size: 0.8em;
  }
}
/* PARTIALS */
.btn-primary {
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 4px 4px 4px 4px;
  background-color: #F2F4F7;
  padding: 1.2rem 2.5rem;
  color: #0373E2;
  font-size: 2em;
  font-weight: 400;
  display: inline-block;
  transition: 0.8s;
}
.btn-primary .btn-primary:hover {
  background-color: #244975;
  color: #ffffff;
}

/* BACKGROUNDS */
.background__grey {
  background-color: #F2F4F7;
}

.background__grey--opacity {
  background-color: rgba(242, 244, 247, 0.9);
}

.background__white {
  background-color: #ffffff;
}

.background__white--opacity {
  background-color: rgba(255, 255, 255, 0.8);
}

/* TXT */
.bigtitle, .background__img3 .section3__partners .bigtitle--white {
  font-size: 4.2em;
  color: #244975;
  font-weight: 600;
  line-height: 5.6rem;
}

.title {
  font-size: 3.8em;
  color: #244975;
  font-weight: 600;
  line-height: 5.6rem;
}

.smalltitle {
  font-size: 3.2em;
  color: #244975;
  font-weight: 600;
  line-height: 4rem;
}

.xstitle {
  font-size: 2em;
  color: #244975;
  font-weight: 600;
  line-height: 2.4rem;
}

.txt, .background__img3 .section3__partners .txt--white {
  font-size: 2em;
  color: #244975;
  line-height: 3.2rem;
}

.smalltxt {
  font-size: 1.6em;
  color: #244975;
  line-height: 2.4rem;
}

.txt--grey {
  font-size: 2em;
  color: #5D7698;
  line-height: 3.2rem;
}

.smalltxt--grey {
  font-size: 1.6em;
  color: #5D7698;
  line-height: 2.4rem;
}

.caption {
  font-size: 1.6em;
  color: #244975;
  line-height: 1.6rem;
}

/* IMG */
.centeredimg {
  display: none;
}

@media (max-width: 1200px) {
  .uncenteredimg {
    display: none;
  }
  .centeredimg {
    display: block;
  }
  .img-fluid {
    width: 100%;
  }
}
/* HEADER Y NAVBAR */
#header {
  padding: 1.6rem 0;
}
#header .navbar .nav-item {
  padding: 1.6rem 2rem;
}
#header .navbar .nav-item .nav-link {
  color: #244975;
  font-size: 2em;
  font-weight: 400;
  transition: 0.8s;
}
#header .navbar .nav-item .nav-link:hover {
  color: #0373E2;
}

@media (max-width: 1400px) {
  #header {
    padding: 0.8rem 0;
  }
}
@media (max-width: 576px) {
  #header .navbar .navbar-brand img {
    max-width: 5rem;
  }
}
.facts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  padding: 3.2rem 0 6.4rem;
  max-width: 60%;
}
.facts_title {
  text-align: center;
  padding: 1.6rem 0.8rem;
  border-radius: 0.8rem 0.8rem 0px 0px;
  border: solid 1px #5D7698;
  background: #5D7698;
}
.facts_title .title {
  font-weight: 400;
  font-size: 2.4rem;
  margin: 0;
  color: #ffffff;
}
.facts_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
  flex-grow: 1;
  padding: 1.6rem;
  border-radius: 0px 0px 0.8rem 0.8rem;
  border: solid 1px #5D7698;
  border-top: none;
  background: #ffffff;
}
.facts_data .data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  max-width: 26rem;
  max-height: none;
}
.facts_data .data .icon {
  width: 3.6rem;
  height: 3.6rem;
  fill: #244975;
}
.facts_data .data .smalltitle {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 2.4rem;
}
.facts_data .data .txt, .facts_data .data .background__img3 .section3__partners .txt--white, .background__img3 .section3__partners .facts_data .data .txt--white {
  margin: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 1.6rem;
}
.facts_data .data-2 {
  align-self: flex-start;
}

@media (max-width: 992px) {
  .facts_data {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
  }
  .facts_data .data {
    max-width: none;
  }
  .facts_data .data-2 {
    align-self: center;
  }
}
@media (max-width: 576px) {
  .facts {
    max-width: 80%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 0 0;
}
.footer_form {
  margin: 0;
  padding: 0;
  border-radius: 6px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.footer_form-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: none;
  height: 23rem;
  padding: 3.2rem 6.4rem;
}
.footer_form-items .items_email {
  width: none;
  height: 5.6rem;
  min-width: 57.6rem;
  text-align: center;
  font-size: 2.4em;
  font-weight: 400;
  color: #244975;
  border: none;
  transition: all 0.3s ease-in;
}
.footer_form-items .items_email::placeholder {
  color: #244975;
}
.footer_form-items .items_email:focus {
  outline: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.footer_form-items .items_suscribe {
  width: 200px;
  height: 56px;
  color: #ffffff;
  background: #244975;
  font-weight: 400;
  transition: all 0.3s ease-in;
}
.footer_form-items .items_suscribe:hover {
  background: #0373E2;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.footer_navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 3.2rem 0;
}
.footer_navbar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
}
.footer_navbar-menu .menu_item-link {
  color: #244975;
  text-decoration: none;
  font-size: 1.6em;
  transition: all 0.3s;
}
.footer_navbar-menu .menu_item-link:hover {
  color: #5D7698;
}
.footer_navbar-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
  max-width: 24rem;
}
.footer_navbar-social .social_item-link .link_icon {
  fill: silver;
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.3s ease-in;
}
.footer_navbar-social .social_item-link .link_icon:hover {
  fill: #244975;
}
.footer #line {
  width: 100%;
  height: 0.2rem;
  background: silver;
  border-radius: 6px;
  align-self: center;
}
.footer .footer_end {
  flex-flow: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 3.2rem 0;
}
.footer .footer_end-rights .caption {
  text-align: center;
  font-size: 12px;
}
.footer .footer_end-misc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
  width: 100%;
}
.footer .footer_end-misc .misc_link {
  text-decoration: none;
  transition: all 0.2s ease-in;
  font-size: 12px;
  cursor: pointer;
}
.footer .footer_end-misc .misc_link:hover {
  color: silver;
}

@media (max-width: 1200px) {
  .footer_form-items {
    padding: 3.2rem;
    gap: 1.6rem;
  }
  .footer_form-items .items_email {
    text-align: center;
  }
  .footer_navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    width: 100%;
  }
  .footer_navbar-menu {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .footer_form-items .items_email {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer_form-items .items_email {
    min-width: 41.2rem;
    font-size: 1.6em;
  }
}
@media (max-width: 412px) {
  .footer {
    padding: 3.2rem 0;
    text-align: center;
  }
  .footer_form-items .items_email {
    gap: 0;
    min-width: 28rem;
    font-size: 1.6em;
  }
  .footer_navbar-menu {
    gap: 0;
  }
  .footer_navbar-social {
    gap: 0;
  }
}
@media (max-width: 280px) {
  .footer_form-items .items_email {
    min-width: 16rem;
    font-size: 1.6em;
  }
  .footer_form-items .items_suscribe {
    width: 120px;
    height: 46px;
  }
}
.primary_card-container {
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 12.8rem 0;
}
.primary_card-container .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  height: 100%;
  max-width: 32rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.6rem;
  transition: all 0.3s ease-in;
}
.primary_card-container .card_header-img {
  overflow: hidden;
}
.primary_card-container .card_header-img img {
  border-radius: 0.6rem 0.6rem 0px 0px;
}
.primary_card-container .card_header-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.8rem;
  padding: 1.6rem;
  padding-top: 0;
}
.primary_card-container .card_header-text .text_title {
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
}
.primary_card-container .card_header-text .text_description {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  text-wrap: balance;
}
.primary_card-container .card_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  padding: 1.6rem;
}
.primary_card-container .card_buttons-link {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
  background: #5D7698;
  transition: all 0.3s ease-in;
}
.primary_card-container .card_buttons-link:hover {
  background: #244975;
}
.primary_card-container .card:hover {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1200px) {
  .primary_card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 3.2rem;
  }
  .primary_card-container .primary_card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 0;
  }
}
@media (max-width: 576px) {
  .primary_card-container {
    padding: 3.2rem 0;
  }
}
/* INICIO */
.welcome-container .welcome {
  justify-content: space-between;
  padding: 12.8rem 0;
}
.welcome-container .welcome_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
  max-width: 55rem;
  max-height: none;
}
.welcome-container .welcome_text-up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.2rem;
}
.welcome-container .welcome_text-up .text_description {
  font-size: 1.6rem;
}
.welcome-container .welcome_text-up .text_caption {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.welcome-container .welcome_text-button {
  align-self: flex-end;
}
.welcome-container .welcome_text-button .button_link {
  font-size: 1.6rem;
  color: #ffffff;
  background: #5D7698;
  transition: all 0.3s ease-in;
}
.welcome-container .welcome_text-button .button_link:hover {
  background: #244975;
}
.welcome-container .welcome_figure {
  max-width: 60rem;
  max-height: none;
}
.workstation-container .workstation {
  justify-content: space-between;
  padding: 12.8rem 0;
}
.workstation-container .workstation .workstation_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6.4rem;
  max-width: 55rem;
  max-height: none;
}
.workstation-container .workstation .workstation_text .workstation_text-up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.2rem;
}
.workstation-container .workstation .workstation_text .workstation_text-up .text_title {
  font-size: 2.4rem;
}
.workstation-container .workstation .workstation_text .workstation_text-up .text_description {
  font-size: 1.6rem;
}
.workstation-container .workstation .workstation_text .workstation_text-up .text_caption {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.workstation-container .workstation .workstation_text .workstation_text-button {
  align-self: flex-end;
}
.workstation-container .workstation .workstation_text .workstation_text-button .button_link {
  font-size: 1.6rem;
  color: #ffffff;
  background: #5D7698;
  transition: all 0.3s ease-in;
}
.workstation-container .workstation .workstation_text .workstation_text-button .button_link:hover {
  background: #244975;
}
.workstation-container .workstation .workstation_figure {
  max-width: 60rem;
  max-height: none;
  order: -1;
}

.entertainment {
  padding-top: 6.4rem;
  padding-bottom: 3.2rem;
  justify-content: center;
}
.entertainment_figure {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0;
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.entertainment_figure-image {
  border-radius: 6px 0px 0px 6px;
}
.entertainment_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  padding: 3.2rem;
  background: #ffffff;
  border-radius: 0px 6px 6px 0px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.entertainment_text-title {
  width: 100%;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: end;
}
.entertainment_text-description {
  width: 100%;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: end;
  text-wrap: balance;
  line-height: 3.8rem;
}

.performance {
  padding-top: 3.2rem;
  padding-bottom: 6.4rem;
  justify-content: center;
}
.performance_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding: 3.2rem;
  background: #ffffff;
  border-radius: 6px 0px 0px 6px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.performance_text-title {
  width: 100%;
  font-weight: 500;
  font-size: 2.4rem;
}
.performance_text-description {
  width: 100%;
  font-weight: 400;
  font-size: 1.8rem;
  text-wrap: balance;
  line-height: 3.8rem;
  margin-bottom: 1.6rem;
}
.performance_text-caption {
  font-weight: 400;
  font-size: 1.4rem;
}
.performance_figure {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0;
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.performance_figure-image {
  border-radius: 0px 6px 6px 0px;
}

.bg_png {
  background-image: url(https://i.imgur.com/1HMS1Wh.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg_png .planjulius {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 6.4rem 0;
}
.bg_png .planjulius_text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
  max-width: 42rem;
  padding: 3.2rem;
  height: fit-content;
  background: rgba(242, 244, 247, 0.8);
  border-radius: 0.6rem;
}
.bg_png .planjulius_text-container .planjulius_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
}
.bg_png .planjulius_text-container .planjulius_text-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #244975;
}
.bg_png .planjulius_text-container .planjulius_text-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #244975;
  text-wrap: balance;
  line-height: 3rem;
}
.bg_png .planjulius_text-container .planjulius_button-link {
  color: #ffffff;
  background: #5D7698;
  font-size: 1.6rem;
}
.bg_png .planjulius_text-container .planjulius_button-link:hover {
  background: #244975;
}

@media (max-width: 1200px) {
  .welcome {
    justify-content: center;
    padding: 6.4rem 0;
  }
  .welcome_text {
    margin: 0 auto;
  }
  .welcome_figure {
    order: -1;
  }
  .workstation {
    justify-content: center;
    padding: 6.4rem 0;
  }
  .workstation .workstation_text {
    margin: 0 auto;
  }
  .entertainment-container {
    display: grid;
    place-items: center;
  }
  .entertainment-container .entertainment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    max-width: 80%;
  }
  .entertainment-container .entertainment_text {
    border-radius: 0px 0px 6px 6px;
  }
  .entertainment-container .entertainment_text-title {
    text-align: start;
  }
  .entertainment-container .entertainment_text-description {
    text-align: start;
  }
  .entertainment-container .entertainment_figure-image {
    border-radius: 6px 6px 0px 0px;
  }
  .performance-container {
    display: grid;
    place-items: center;
  }
  .performance-container .performance {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    max-width: 80%;
  }
  .performance-container .performance_text {
    border-radius: 0px 0px 6px 6px;
  }
  .performance-container .performance_figure {
    order: -1;
  }
  .performance-container .performance_figure-image {
    border-radius: 6px 6px 0px 0px;
  }
}
@media (max-width: 992px) {
  .planjulius {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .welcome {
    padding: 3.2rem 0;
  }
  .welcome_text {
    padding: 3.2rem;
  }
  .workstation {
    padding: 3.2rem 0;
  }
  .workstation .workstation_text {
    padding: 3.2rem;
  }
}
@media (max-width: 412px) {
  .welcome {
    padding: 3.2rem 0;
  }
  .workstation {
    padding: 3.2rem 0;
  }
}
/* NOSOTROS */
.section1__nosotros {
  justify-content: space-between;
  padding: 0 0 6.4rem;
}
.section1__nosotros .nosotros1__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6.4rem;
  max-width: 56rem;
  max-height: auto;
}
.section1__nosotros .nosotros1__article .article__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}
.section1__nosotros .nosotros1__article .article__txt h1 {
  line-height: 7.3rem;
}
.section1__nosotros .nosotros1__article .article__button {
  align-self: flex-end;
}
.section1__nosotros .nosotros1__article .article__button a {
  width: 18rem;
  height: 6.7;
}
.section1__nosotros .nosotros1__article .article__img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}

.section2__nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 12.8rem;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.section2__nosotros .employee__right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 6.4rem;
  max-width: auto;
  max-height: 49.8rem;
  align-self: flex-end;
  -webkit-box-shadow: -2px 5px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 5px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 5px 7px -2px rgba(0, 0, 0, 0.75);
}
.section2__nosotros .employee__right .employee__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 55rem;
  max-height: auto;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 0;
}
.section2__nosotros .employee__right .employee__txt figure {
  align-self: flex-end;
}
.section2__nosotros .employee__right .employee__img .employeecol {
  display: none;
}
.section2__nosotros .employee__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 6.4rem;
  max-width: auto;
  max-height: 49.8rem;
  align-self: flex-start;
  -webkit-box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.75);
}
.section2__nosotros .employee__left .employee__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 55rem;
  max-height: auto;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 0;
  padding-right: 3.2rem;
}
.section2__nosotros .employee__left .employee__txt figure {
  align-self: flex-start;
}
.section2__nosotros .employee__left .employee__img .employeecol {
  display: none;
}

.section3__nosotros {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.section3__nosotros .nosotros3__article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}
.section3__nosotros .nosotros3__article h2 {
  max-width: 41rem;
  max-height: auto;
  line-height: 10rem;
}
.section3__nosotros .nosotros3__article iframe {
  width: 84.8rem;
  height: 48rem;
}

.section4__nosotros {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.section4__nosotros .nosotros4__article {
  justify-content: space-between;
}
.section4__nosotros .nosotros4__article figure {
  order: -1;
}
.section4__nosotros .nosotros4__article h2 {
  max-width: 45rem;
  max-height: auto;
  line-height: 10rem;
}
.section4__nosotros .nosotros4__article p {
  max-width: 45rem;
  max-height: auto;
}

@media (max-width: 1400px) {
  .section3__nosotros .nosotros3__article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.6rem;
  }
  .section3__nosotros .nosotros3__article h2 {
    max-width: 120rem;
    max-height: auto;
    text-align: center;
  }
  .section4__nosotros .nosotros4__article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.6rem;
  }
  .section4__nosotros .nosotros4__article figure {
    order: 0;
  }
  .section4__nosotros .nosotros4__article h2 {
    max-width: 120rem;
    max-height: auto;
    text-align: center;
  }
  .section4__nosotros .nosotros4__article p {
    max-width: 120rem;
    max-height: auto;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .background__img5 {
    background-image: url(https://i.imgur.com/g5Oc9Qn.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 0;
  }
  .background__img5 .section1__nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 0;
  }
  .background__img5 .section1__nosotros .nosotros1__article {
    max-width: 120rem;
    max-height: auto;
    background-color: rgba(242, 244, 247, 0.8);
    border-radius: 0.4rem;
    padding: 6.4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 6.4rem;
  }
  .background__img5 .section1__nosotros .nosotros1__article .article__button {
    align-self: center;
  }
  .background__img5 .section1__nosotros .nosotros1__img {
    display: none;
  }
  .section2__nosotros {
    justify-content: center;
  }
  .section2__nosotros .employee__right {
    align-self: center;
  }
  .section2__nosotros .employee__left {
    align-self: center;
  }
}
@media (max-width: 992px) {
  .section2__nosotros .employee__right {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.6rem;
    max-width: none;
    max-height: none;
  }
  .section2__nosotros .employee__right .employee__txt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.6rem;
    max-width: 55rem;
    max-height: none;
    padding: 3.2rem;
  }
  .section2__nosotros .employee__right .employee__txt figure {
    align-self: flex-end;
  }
  .section2__nosotros .employee__right .employee__img {
    align-self: center;
    order: -1;
  }
  .section2__nosotros .employee__right .employee__img .employeecol {
    display: block;
  }
  .section2__nosotros .employee__right .employee__img .employeecard {
    display: none;
  }
  .section2__nosotros .employee__left {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.6rem;
    max-width: none;
    max-height: none;
  }
  .section2__nosotros .employee__left .employee__txt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.6rem;
    max-width: 55rem;
    max-height: none;
    padding: 3.2rem;
  }
  .section2__nosotros .employee__left .employee__txt figure {
    align-self: flex-end;
  }
  .section2__nosotros .employee__left .employee__img {
    align-self: center;
    order: -1;
  }
  .section2__nosotros .employee__left .employee__img .employeecol {
    display: block;
  }
  .section2__nosotros .employee__left .employee__img .employeecard {
    display: none;
  }
}
@media (max-width: 576px) {
  .background__img5 .section1__nosotros .nosotros1__article {
    max-width: none;
    max-height: none;
    background-color: rgba(242, 244, 247, 0.8);
    border-radius: 0.4rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 6.4rem;
  }
  .background__img5 .section1__nosotros .nosotros1__article .article__button {
    align-self: center;
  }
  .background__img5 .section1__nosotros .nosotros1__img {
    display: none;
  }
  .nosotros3__article iframe {
    width: auto;
    height: auto;
  }
}
/* PRODUCTOS */
.section1__producto {
  justify-content: space-between;
  padding: 6.4rem 6.4rem 6.4rem;
}
.section1__producto .producto1__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12.8rem;
  max-width: 45rem;
  max-height: auto;
}
.section1__producto .producto1__txt .txt1--up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 4rem;
}
.section1__producto .producto1__txt .producto1__btn {
  align-self: flex-end;
}
.section1__producto .producto1__img {
  max-width: 58rem;
  max-height: none;
}

.section2__producto {
  justify-content: space-between;
  padding: 12.8rem 6.4rem 12.8rem;
}
.section2__producto .producto2__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 45rem;
  max-height: auto;
}
.section2__producto .producto2__txt .txt2--up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}
.section2__producto .producto2__txt .producto2__btn {
  align-self: flex-end;
}
.section2__producto .producto2__img {
  max-width: 58rem;
  max-height: none;
}

.background__img2 {
  background-image: url(https://i.imgur.com/qwOSfLK.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.background__img2 .section3__producto {
  padding: 38.4rem 0 12.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.section4__producto {
  justify-content: space-between;
  padding: 12.8rem 6.4rem 12.8rem;
}
.section4__producto .producto4__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 45rem;
  max-height: auto;
}
.section4__producto .producto4__txt .txt4--up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}
.section4__producto .producto4__txt .producto4__btn {
  align-self: flex-end;
}
.section4__producto .producto4__img {
  max-width: 58rem;
  max-height: none;
}

.section5__producto {
  justify-content: space-between;
  padding: 12.8rem 6.4rem 12.8rem;
}
.section5__producto .producto5__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 45rem;
  max-height: auto;
}
.section5__producto .producto5__txt .txt5--up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
}
.section5__producto .producto5__txt .producto5__btn {
  align-self: flex-end;
}
.section5__producto .producto5__img {
  max-width: 58rem;
  max-height: none;
}

.section6__producto {
  padding: 12.8rem 0;
}
.section6__producto .producto6__maintitle {
  padding: 0 0 12.8rem;
  text-align: center;
}
.section6__producto .producto6__article {
  justify-content: space-between;
}
.section6__producto .producto6__article .producto6__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}
.section6__producto .producto6__article .producto6__txt p {
  font-size: 3.2em;
  line-height: 3.6rem;
  max-width: 36rem;
  max-height: 36rem;
}
.section6__producto .producto6__article .producto6__txt--responsive {
  display: none;
}
.section6__producto .producto6__article .product6__images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}

@media (max-width: 1400px) {
  .section1__producto {
    padding: 0 0 6.4rem;
  }
  .section2__producto {
    padding: 12.8rem 0 6.4rem;
  }
  .section4__producto {
    padding: 12.8rem 0 6.4rem;
  }
  .section5__producto {
    padding: 12.8rem 0 6.4rem;
  }
  .section6__producto {
    justify-content: center;
    padding: 6.4rem 0;
  }
  .section6__producto .producto6__maintitle {
    padding: 0 0 6.4rem;
  }
  .section6__producto .producto6__article {
    text-align: center;
  }
  .section6__producto .producto6__article .producto6__txt {
    display: none;
  }
  .section6__producto .producto6__article .producto6__txt--responsive {
    display: block;
    padding: 0 0 6.4rem;
  }
  .section6__producto .producto6__article .producto6__txt--responsive p {
    font-size: 3.2em;
    line-height: 3.6rem;
  }
  .section6__producto .producto6__article .product6__images {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .section1__producto {
    justify-content: center;
  }
  .section1__producto .producto1__txt {
    max-width: none;
    max-height: none;
    text-align: center;
    padding: 3.2rem 0 0;
    gap: 3.2rem;
  }
  .section1__producto .producto1__txt .producto1__btn {
    align-self: center;
  }
  .section1__producto .producto1__img {
    order: -1;
  }
  .section2__producto {
    justify-content: center;
  }
  .section2__producto .producto2__txt {
    max-width: none;
    max-height: none;
    text-align: center;
    padding: 3.2rem 0 0;
    gap: 3.2rem;
  }
  .section2__producto .producto2__txt .producto2__btn {
    align-self: center;
  }
  .section2__producto .producto2__img {
    order: -1;
  }
  .section4__producto {
    justify-content: center;
  }
  .section4__producto .producto4__txt {
    max-width: none;
    max-height: none;
    text-align: center;
    padding: 3.2rem 0 0;
    gap: 3.2rem;
  }
  .section4__producto .producto4__txt .producto4__btn {
    align-self: center;
  }
  .section4__producto .producto4__img {
    order: -1;
  }
  .section5__producto {
    justify-content: center;
  }
  .section5__producto .producto5__txt {
    max-width: none;
    max-height: none;
    text-align: center;
    padding: 3.2rem 0 0;
    gap: 3.2rem;
  }
  .section5__producto .producto5__txt .producto5__btn {
    align-self: center;
  }
  .section5__producto .producto5__img {
    order: -1;
  }
}
/* PARTNERS */
.section1__partners {
  justify-content: space-between;
  padding: 6.4rem 0;
}
.section1__partners .partners1__article1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 56rem;
  max-height: none;
}
.section1__partners .partners1__article1 .article1__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}
.section1__partners .partners1__article1 .article1__img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}
.section1__partners .partners1__article2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 56rem;
  max-height: none;
}

.section2__partners {
  justify-content: space-between;
  padding: 6.4rem 0;
}
.section2__partners .partners2__article1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
  max-width: 55rem;
  max-height: none;
}
.section2__partners .partners2__article1 p {
  line-height: 3.2rem;
}
.section2__partners .partners2__article2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3.2rem;
  max-width: 55rem;
  max-height: none;
}
.section2__partners .partners2__article2 p {
  line-height: 3.2rem;
}

.background__img3 {
  background-image: url(https://i.imgur.com/s0awAEU.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 65rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.background__img3 .section3__partners {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.background__img3 .section3__partners .bigtitle--white {
  text-align: center;
  color: #ffffff;
  font-size: 4em;
}
.background__img3 .section3__partners .txt--white {
  max-width: 120rem;
  max-height: auto;
  color: #ffffff;
  text-align: center;
  line-height: 3.2rem;
}

.section4__partners {
  justify-content: space-between;
  padding: 6.4rem 0;
}
.section4__partners .partners4__article2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  max-width: 56rem;
  max-height: none;
}
.section4__partners .partners4__article2 .article2__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
}
.section4__partners .partners4__article2 .article2__img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}
.section4__partners .partners4__article1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
  max-width: 56rem;
  max-height: none;
}

.section5__partners {
  justify-content: space-between;
  padding: 6.4rem 0;
}
.section5__partners .partners5__article1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.6rem;
  max-width: 33.3rem;
  max-height: none;
}
.section5__partners .partners5__article1 h3 {
  font-size: 2.5em;
  line-height: 3.2rem;
}
.section5__partners .partners5__article2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.6rem;
  max-width: 33.3rem;
  max-height: none;
}
.section5__partners .partners5__article2 h3 {
  font-size: 2.5em;
  line-height: 3.2rem;
}
.section5__partners .partners5__article3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.6rem;
  max-width: 33.3rem;
  max-height: none;
}
.section5__partners .partners5__article3 h3 {
  font-size: 2.5em;
  line-height: 3.2rem;
}

.background__img4 {
  background-image: url(https://i.imgur.com/NBJbLJN.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 65rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.background__img4 .section6__partners {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.background__img4 .section6__partners .partners6__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  background-color: rgba(242, 244, 247, 0.8);
  border-radius: 0.4rem;
  padding: 6.4rem;
}
.background__img4 .section6__partners .partners6__article .bigtitle, .background__img4 .section6__partners .partners6__article .background__img3 .section3__partners .bigtitle--white, .background__img3 .section3__partners .background__img4 .section6__partners .partners6__article .bigtitle--white {
  text-align: center;
}
.background__img4 .section6__partners .partners6__article .txt, .background__img4 .section6__partners .partners6__article .background__img3 .section3__partners .txt--white, .background__img3 .section3__partners .background__img4 .section6__partners .partners6__article .txt--white {
  max-width: 120rem;
  max-height: auto;
  text-align: center;
  line-height: 3.2rem;
}

@media (max-width: 1200px) {
  .section1__partners {
    justify-content: center;
    padding: 6.4rem 0;
  }
  .section1__partners .partners1__article1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.2rem;
    max-width: none;
    max-height: none;
  }
  .section1__partners .partners1__article1 .article1__img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3.2rem;
  }
  .section1__partners .partners1__article2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    max-width: none;
    max-height: none;
    padding: 6.4rem 0;
  }
  .section1__partners .partners1__article2 img {
    max-width: 56rem;
    max-height: none;
  }
  .section1__partners .partners1__article2 p {
    max-width: 36rem;
    max-height: none;
    line-height: 4.2rem;
    font-size: 2em;
  }
  .section2__partners {
    padding: 0 0 6.4rem;
  }
  .section2__partners .partners2__article1 {
    max-width: 46rem;
    max-height: none;
  }
  .section2__partners .partners2__article2 {
    max-width: 46rem;
    max-height: none;
  }
  .section4__partners {
    justify-content: center;
    padding: 6.4rem 0;
  }
  .section4__partners .partners4__article2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.2rem;
    max-width: none;
    max-height: none;
  }
  .section4__partners .partners4__article2 .article2__img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3.2rem;
  }
  .section4__partners .partners4__article1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    max-width: none;
    max-height: none;
    padding: 6.4rem 0;
  }
  .section4__partners .partners4__article1 img {
    max-width: 56rem;
    max-height: none;
  }
  .section4__partners .partners4__article1 p {
    max-width: 36rem;
    max-height: none;
    line-height: 6.4rem;
    font-size: 2.2em;
  }
  .section5__partners {
    justify-content: space-between;
    padding: 6.4rem 0;
  }
  .section5__partners .partners5__article1 {
    max-width: 46rem;
    max-height: none;
  }
  .section5__partners .partners5__article2 {
    max-width: 46rem;
    max-height: none;
  }
  .section5__partners .partners5__article3 {
    max-width: none;
    max-height: none;
    padding: 6.4rem 0 0;
  }
}
@media (max-width: 992px) {
  .section1__partners {
    padding: 3.2rem 0;
  }
  .section1__partners .partners1__article1 .article1__txt h1 {
    font-size: 3.8em;
  }
  .section1__partners .partners1__article1 .article1__img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
  }
  .section1__partners .partners1__article2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    max-width: none;
    max-height: none;
    padding: 6.4rem 0 0;
  }
  .section1__partners .partners1__article2 img {
    max-width: none;
    max-height: none;
  }
  .section1__partners .partners1__article2 p {
    max-width: none;
    max-height: none;
    line-height: 2.4rem;
    font-size: 1.6em;
  }
  .section2__partners {
    padding: 0 0 6.4rem;
  }
  .section2__partners .partners2__article1 {
    max-width: none;
    max-height: none;
  }
  .section2__partners .partners2__article2 {
    max-width: none;
    max-height: none;
  }
  .section4__partners {
    padding: 3.2rem 0;
  }
  .section4__partners .partners4__article2 .article2__txt h2 {
    font-size: 3.8em;
  }
  .section4__partners .partners4__article2 .article2__img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
  }
  .section4__partners .partners4__article1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    max-width: none;
    max-height: none;
    padding: 6.4rem 0 0;
  }
  .section4__partners .partners4__article1 img {
    max-width: none;
    max-height: none;
  }
  .section4__partners .partners4__article1 p {
    max-width: none;
    max-height: none;
    line-height: 2.4rem;
    font-size: 1.6em;
  }
  .section5__partners {
    justify-content: space-between;
    padding: 6.4rem 0;
  }
  .section5__partners .partners5__article1 {
    max-width: none;
    max-height: none;
  }
  .section5__partners .partners5__article2 {
    max-width: none;
    max-height: none;
  }
  .section5__partners .partners5__article3 {
    max-width: none;
    max-height: none;
    padding: 0;
  }
}
@media (max-width: 412px) {
  .background__img4 .section6__partners .partners6__article {
    padding: 6.4rem 0;
  }
}
/* TIENDA */
.section1__tienda {
  justify-content: space-between;
  align-items: center;
  margin: 6.4rem 0;
  padding: 6.4rem;
  background-image: url(https://i.imgur.com/aTKykIf.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section1__tienda .tienda1__txt {
  max-width: 60rem;
  max-height: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 6.4rem;
}
.section1__tienda .tienda1__txt .txt--up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6.4rem;
}
.section1__tienda .tienda1__txt .tienda1__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}
.section1__tienda .tienda1__txt .tienda1__btns .tienda1__link2 {
  text-decoration: none;
  font-size: 1.6em;
  color: #244975;
  font-weight: 400;
  transition: 0.8s;
}
.section1__tienda .tienda1__txt .tienda1__btns .tienda1__link2:hover {
  color: #0373E2;
}
.section1__tienda .tienda1__txt .tienda1__btns .tienda1__link1 {
  background-color: #0373E2;
  color: #ffffff;
  padding: 1.6rem 3.2rem;
  font-size: 1.6em;
  border-radius: 0 0 0 0;
  transition: all 0.3s;
}
.section1__tienda .tienda1__txt .tienda1__btns .tienda1__link1:hover {
  background-color: #244975;
  color: #ffffff;
}

.section2__tienda {
  padding: 12.8rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  row-gap: 6.4rem;
}
.section2__tienda .card2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  max-width: 36.1rem;
  max-height: none;
  transition: all 0.3s;
  padding: 0;
}
.section2__tienda .card2 .card2__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  padding: 0.8rem 3.2rem 0.8rem 3.2rem;
}
.section2__tienda .card2 .card2__txt .card2__txt--upper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.6rem;
}
.section2__tienda .card2:hover {
  -webkit-box-shadow: -1px 3px 21px -6px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: -1px 3px 21px -6px rgba(0, 0, 0, 0.91);
  box-shadow: -1px 3px 21px -6px rgba(0, 0, 0, 0.91);
}

.section3__tienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  margin: 6.4rem auto;
  background-image: url(https://i.imgur.com/OeXk21l.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section3__tienda .tienda3__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6.4rem;
  max-width: 55rem;
  max-height: none;
  padding: 3.2rem 0 17.4rem 3.2rem;
}
.section3__tienda .tienda3__txt .tienda3__title, .section3__tienda .tienda3__txt .tienda3__descrip {
  color: #ffffff;
}
.section3__tienda .tienda3__btn a {
  background-color: #0373E2;
  color: #ffffff;
  padding: 1.6rem 3.2rem;
  font-size: 1.6em;
  border-radius: 0 0 0 0;
  transition: all 0.3s;
}
.section3__tienda .tienda3__btn a:hover {
  background-color: #244975;
  color: #ffffff;
}

.tienda4__maintitle {
  padding: 12.8rem 0;
  text-align: center;
}

.tienda4__aoeimg {
  background-image: url(https://i.imgur.com/5k0j6Oi.png);
}

.tienda4__haloimg {
  background-image: url(https://i.imgur.com/YmhYMTv.png);
}

.tienda4__fh5img {
  background-image: url(https://i.imgur.com/InrFws6.png);
}

.tienda4__bgimg {
  width: 100%;
  height: 31rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.tienda4__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  row-gap: 1.6rem;
}

.tienda4__txtdescrip {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  row-gap: 1.6rem;
  padding-bottom: 6.4rem;
}

@media (max-width: 1200px) {
  .section1__tienda {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .section1__tienda .tienda1__img {
    order: -1;
    max-width: 24rem;
    max-height: none;
  }
}
@media (max-width: 992px) {
  .section2__tienda {
    justify-content: center;
  }
}
@media (max-width: 412px) {
  .section1__tienda {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-top: 0;
    padding: 6.4rem 0;
  }
  .section1__tienda .tienda1__img {
    order: -1;
    max-width: 24rem;
    max-height: none;
  }
}
/* WIREFRAME */
.wireframe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  padding-top: 12.8rem;
  padding-bottom: 20rem;
}
.wireframe .wireframe__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6.4rem;
  max-width: 50rem;
  max-height: none;
}
.wireframe .wireframe__txt .caption {
  line-height: 2.4rem;
}

.wireframe__img {
  background-color: #5D7698;
  padding: 12.8rem;
}

/*# sourceMappingURL=main.css.map */
