.facts {
    @include flex(column, nowrap, space-between, stretch, 0);
    padding: $lspace 0 $xlspace;
    max-width: 60%;

    &_title {
        text-align: center;

        padding: $mspace $sspace;

        border-radius: $sspace $sspace 0px 0px;
        border: solid 1px $greyblue;

        background: $greyblue;

        .title {
            font-weight: 400;
            font-size: 2.4rem;
            margin: 0;
            color: $white
        }
    }

    &_data {
        @include flex(row, wrap, space-between, stretch, $mspace);
        flex-grow: 1;
        padding: $mspace;
        border-radius: 0px 0px $sspace $sspace;
        border: solid 1px $greyblue;
        border-top: none;
        background: $white;

        .data {
            @include flex(column, nowrap, space-between, center, 0);
            @include max-sizes(26rem, none);

            .icon {
                width: 3.6rem;
                height: 3.6rem;
                fill: $darkblue;
            }

            .smalltitle {
                margin: 0;

                text-align: center;

                font-weight: 500;
                font-size: 2.4rem;
            }

            .txt {
                margin: 0;
                text-align: center;

                text-wrap: balance;
                font-size: 1.6rem;
            }

            &-2 {
                align-self: flex-start;
            }

        }
    }
}

@media (max-width: 992px) {
    .facts {
        &_data {
            @include flex(column, nowrap, space-between, center, 3.2rem);

            .data {
                max-width: none;

                &-2 {
                    align-self: center;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .facts {
        max-width: 80%;
    }
}