#footer{
    padding: $xxlspace 0 $lspace;
    row-gap: 3.2rem;
    .footer__form{
        -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
        background-color: $white;
        justify-content: center;
        margin: 0;
        padding: 0;
        .form__items{
            @include flex(row, wrap, center, center, .8rem);
            @include sizes(none, 23rem);
            .form__input{
                @include sizes(none, 5.5rem);
                min-width: 57.6rem;
                border: none;
                font-size: 2.8em;
                color: $darkblue;
            }
            .form__input::placeholder{
                color: $darkblue;
            }
            .form__input:focus{
                outline: $greyblue 1px solid;
                border-radius: 4px;
            }
            .form__btn{
                width: 200px;
                height: 56px;
                color: $white;
                background-color: $lightblue;
            }
            .form__btn:hover{
                background-color: $darkblue;
            }
        }
    }
    .footer__navbar{
        justify-content: space-between;
        border-bottom: solid rgba(0,0,0,0.16) .2rem;
        margin: 0;
        padding: $lspace 0 $sspace;
        .footer__menu{
            @include flex(row, nowrap, space-between, stretch, 3.2rem);
            li{
                a{
                    text-decoration: none;
                    font-size: 1.6em;
                    transition: all .8s;
                }
            }
        }
        .footer__links{
            @include flex(row, nowrap, space-between, stretch, 3.2rem);

        }
    }
    .footer__end{
        justify-content: space-between;
        margin: 0;
        padding: 0;
        .footer__misc{
            @include flex(row, nowrap, space-between, stretch, 3.2rem);
            a{
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 992px){
    #footer{
        .footer__form{
            .form__items{
                .form__input{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 768px){
    #footer{
        .footer__form{
            .form__items{
                .form__input{
                    min-width: 41.2rem;
                    font-size: 1.6em;
                }
            }
        }
    }
}
@media (max-width: 412px){
    #footer{
        padding: $lspace 0;
        text-align: center;
        .footer__form{
            .form__items{
                .form__input{
                    gap: 0;
                    min-width: 28rem;
                    font-size: 1.6em;
                }
            }
        }
        .footer__navbar{
            .footer__menu{
                gap: 0;
            }
            .footer__links{
                gap: 0;
            }
        }
    }
}

@media (max-width: 280px){
    #footer{
        .footer__form{
            .form__items{
                .form__input{
                    min-width: 16rem;
                    font-size: 1.6em;
                }
                .form__btn{
                    width: 120px;
                    height: 46px;
                }
            }
        }
    }
}



