.footer-container {
    display: grid;
    place-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: $xlspace 0 0;
    max-width: 120rem;

    &_form {
        margin: 0;
        padding: 0;
        border-radius: 6px;
        background: $white;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        &-items {
            @include flex(row, wrap, center, center, .8rem);
            @include sizes(none, 23rem);
            padding: $lspace $xlspace;

            .items_email {
                @include sizes(none, 5.6rem);
                min-width: 57.6rem;
                text-align: center;
                font-size: 2.4em;
                font-weight: 400;
                color: $darkblue;
                border: none;
                transition: all .3s ease-in;

                &::placeholder {
                    color: $darkblue;
                }

                &:focus {
                    outline: none;
                    border-radius: 6px;
                    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                }
            }

            .items_suscribe {
                @include sizes(200px, 56px);
                color: $white;
                background: $darkblue;
                font-weight: 400;
                transition: all .3s ease-in;

                &:hover {
                    background: $lightblue;
                    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    &_navbar {
        @include flex(row, wrap, space-between, center, 0);
        margin: 0;
        padding: $lspace 0;

        &-menu {
            @include flex(row, nowrap, space-between, stretch, 3.2rem);

            .menu_item {
                &-link {
                    color: $darkblue;
                    text-decoration: none;
                    font-size: 1.6em;
                    transition: all .3s;

                    &:hover {
                        color: $greyblue;
                    }
                }
            }
        }

        &-social {
            @include flex(row, wrap, space-between, stretch, 3.2rem);
            max-width: 24rem;

            .social_item {
                &-link {
                    .link_icon {
                        fill: silver;
                        width: 2.4rem;
                        height: 2.4rem;
                        transition: all .3s ease-in;

                        &:hover {
                            fill: $darkblue;
                        }
                    }
                }
            }
        }
    }

    #line {
        @include sizes(100%, .2rem);

        background: silver;
        border-radius: 6px;

        align-self: center;
    }

    .footer_end {
        flex-flow: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: $lspace 0;

        &-rights {
            .caption {
                text-align: center;
                font-size: 12px;
            }
        }

        &-misc {
            @include flex(row, nowrap, space-between, stretch, 3.2rem);
            width: 100%;


            .misc_link {
                text-decoration: none;
                transition: all .2s ease-in;
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    color: silver;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        &_form {
            &-items {
                padding: 3.2rem;
                gap: 1.6rem;

                .items_email {
                    text-align: center;
                }
            }
        }

        &_navbar {
            @include flex(row, wrap, center, center, 3.2rem);
            width: 100%;

            &-menu {
                width: 80%;
            }
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &_form {
            &-items {
                .items_email {
                    text-align: center;
                }
            }
        }

        &_navbar {
            &-social {}
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &_form {
            &-items {
                .items_email {
                    min-width: 41.2rem;
                    font-size: 1.6em;
                }
            }
        }
    }
}

@media (max-width: 412px) {
    .footer {
        padding: $lspace 0;
        text-align: center;

        &_form {
            &-items {
                .items_email {
                    gap: 0;
                    min-width: 28rem;
                    font-size: 1.6em;
                }
            }
        }

        &_navbar {
            &-menu {
                gap: 0;
            }

            &-social {
                gap: 0;
            }
        }
    }
}

@media (max-width: 280px) {
    .footer {
        &_form {
            &-items {
                .items_email {
                    min-width: 16rem;
                    font-size: 1.6em;
                }

                .items_suscribe {
                    width: 120px;
                    height: 46px;
                }
            }
        }
    }
}