/* HEADER Y NAVBAR */
#header {
    padding: $mspace 0;

    .navbar {
        .navbar-brand {
            img {
                max-width: 7.2rem;
            }
        }

        .nav-item {
            padding: 1.6rem 2rem;

            .nav-link {
                color: $greyblue;
                font-size: 1.6rem;
                font-weight: 400;
                transition: all .3 ease-in;

                &:hover {
                    color: $darkblue;
                }
            }
        }

        .nav-button {
            font-size: 1.6rem;
            color: $white;
            background: $greyblue;
            transition: all .3s ease-in;

            &:hover {
                background: $darkblue;
            }
        }
    }
}

@media (max-width: 1400px) {
    #header {
        padding: $sspace 0;
    }
}

@media (max-width: 576px) {
    #header {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 5rem;
                }
            }
        }
    }
}