/* HEADER Y NAVBAR */
#header{
    padding: $mspace 0;
    .navbar{
        background-color: $grey;
        .nav-item{
            padding: 1.6rem;
            .nav-link{
                color: $darkblue;
                font-size: $txt;
                font-weight: 400;
                transition: .8s;
            
                &:hover{
                    color: $lightblue;
                }
            }
        }
    }
}
@media (max-width: 1400px){
    #header{
        padding: $sspace 0;
    }
}
