/* IMG */
.centeredimg {
    display: none;
}

@media (max-width: 1200px) {
    .uncenteredimg {
        display: none;
    }

    .centeredimg {
        display: flex;
    }

    .img-fluid {
        width: 100%;
    }
}