// DESKTOP 
.prefooter {
    @include flex(column, nowrap, space-between, stretch, 6.4rem);
    padding: $xlspace 0;

    &_title {
        text-align: center;
    }

    &_datos {
        @include flex(row, wrap, space-between, stretch, 0);

        .dato {
            @include max-sizes(24rem, none);
            text-align: center;
        }
    }
}

// RESPONSIVE
@media (max-width: 992px) {
    .prefooter {
        &_datos {
            @include flex(column, nowrap, space-between, center, 3.2rem);
        }
    }
}