.prefooter{
    padding: $xxlspace 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: $xlspace;
    .prefooter__title{
        padding-bottom: $xlspace;
        text-align: center;
    }
    .prefooter__datos{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        .dato{
            max-width: 24rem;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
            text-align: center;
            p{
                font-size: $smalltxt;
                line-height: 2rem;
            }
        }
        .dato--center{
            @extend .dato;
        }
    }
}
@media (max-width: 576px){
    .prefooter__datos{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        .dato--center{
            justify-self: center;
        }
    }
}