/* TXT */
.bigtitle{
    font-size: $bigtitle;
    color: $darkblue;
    font-weight: 600;
    line-height: 5.6rem;
}
.title{
    font-size: $title;
    color: $darkblue;
    font-weight: 600;
    line-height: 5.6rem;
}
.smalltitle{
    font-size: $smalltitle;
    color: $darkblue;
    font-weight: 600;
    line-height: 4rem;
}
.xstitle{
    font-size: $txt;
    color: $darkblue;
    font-weight: 600;
    line-height: 2.4rem;
}
.txt{
    font-size: $txt;
    color: $darkblue;
    line-height: 3.2rem;
}
.smalltxt{
    font-size: $smalltxt;
    color: $darkblue;
    line-height: 2.4rem;
}
.txt--grey{
    font-size: $txt;
    color: $greyblue;
    line-height: 3.2rem;
}
.smalltxt--grey{
    font-size: $smalltxt;
    color: $greyblue;
    line-height: 2.4rem;
}
.caption{
    font-size: $caption;
    color: $darkblue;
    line-height: 1.6rem;
}