// DESKTOP
// BLOQUE 1
.section1__home {
    justify-content: space-between;
    padding: $xxlspace 0;

    .home1__txt {
        @include flex (column, nowrap, space-between, stretch, 3.2rem);
        @include max-sizes(55rem, none);

        .home1__txt--up {
            @include flex (column, nowrap, flex-start, stretch, 3.2rem);
        }

        .home1__button {
            align-self: flex-end
        }
    }

    .home1__img {
        @include max-sizes(60rem, none);
    }
}

// WORKSTATION
.workstation-container {
    .workstation {
        justify-content: space-between;
        padding: $xxlspace 0;

        .workstation_text {
            @include flex (column, nowrap, flex-start, stretch, $xlspace);
            @include max-sizes(55rem, none);

            .workstation_text-up {
                @include flex (column, nowrap, flex-start, stretch, 3.2rem);

                .text_title {
                    font-size: 2.4rem;
                }

                .text_description {
                    font-size: 1.6rem;
                }

                .text_caption {
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }
            }

            .workstation_text-button {
                align-self: flex-end;

                .button_link {
                    font-size: 1.6rem;
                    color: $white;
                    background: $greyblue;
                    transition: all .3s ease-in;

                    &:hover {
                        background: $darkblue;
                    }
                }
            }
        }

        .workstation_figure {
            @include max-sizes(60rem, none);
            order: -1;
        }
    }
}


// ENTERTAINMENT
.entertainment {
    padding-top: $xlspace;
    padding-bottom: $lspace;

    justify-content: center;

    &_figure {
        @include flex(row, nowrap, flex-end, stretch, 0);
        padding: 0px;
        margin: 0px;

        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        &-image {
            border-radius: 6px 0px 0px 6px;
        }
    }

    &_text {
        @include flex(column, nowrap, center, flex-end, 0);
        padding: $lspace;
        background: $white;
        border-radius: 0px 6px 6px 0px;

        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        &-title {
            width: 100%;
            font-weight: 500;
            font-size: 2.4rem;
            text-align: end;
        }

        &-description {
            width: 100%;
            font-weight: 400;
            font-size: 1.8rem;
            text-align: end;
            text-wrap: balance;
            line-height: 3.8rem;
        }
    }
}

// PERFORMANCE
.performance {
    padding-top: $lspace;
    padding-bottom: $xlspace;

    justify-content: center;

    &_text {
        @include flex(column, nowrap, center, flex-start, 0);
        padding: $lspace;
        background: $white;
        border-radius: 6px 0px 0px 6px;

        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        &-title {
            width: 100%;
            font-weight: 500;
            font-size: 2.4rem;
        }

        &-description {
            width: 100%;
            font-weight: 400;
            font-size: 1.8rem;
            text-wrap: balance;
            line-height: 3.8rem;
            margin-bottom: $mspace;
        }

        &-caption {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }

    &_figure {
        @include flex(row, nowrap, flex-end, stretch, 0);
        padding: 0px;
        margin: 0px;

        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        &-image {
            border-radius: 0px 6px 6px 0px;
        }
    }
}

// PLANJULIUS
.bg_png {
    background-image: url(https://i.imgur.com/1HMS1Wh.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .planjulius {
        @include flex (row, wrap, space-between, center, 0);
        padding: $xlspace 0;


        &_img {}

        &_text-container {
            @include flex (column, wrap, space-between, stretch, $lspace);
            max-width: 42rem;
            padding: $lspace;
            height: fit-content;
            background: rgba(242, 244, 247, .8);

            border-radius: .6rem;

            .planjulius_text {
                @include flex (column, wrap, space-between, stretch, $lspace);

                &-title {
                    font-size: 2.4rem;
                    font-weight: 500;
                    color: $darkblue;
                }

                &-description {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: $darkblue;
                    text-wrap: balance;
                    line-height: 3rem;
                }
            }

            .planjulius_button {
                &-link {
                    color: $white;
                    background: $greyblue;
                    font-size: 1.6rem;

                    &:hover {
                        background: $darkblue;
                    }
                }
            }
        }
    }
}



//1200PX
@media (max-width: 1200px) {

    //BLOQUE 1
    .section1__home {
        justify-content: center;
        padding: $xlspace 0;

        .home1__txt {
            margin: 0 auto;
        }

        .home1__img {
            order: -1;
        }
    }

    // WORKSTATION
    .workstation {
        justify-content: center;
        padding: $xlspace 0;

        .workstation_text {
            margin: 0 auto;
        }
    }

    // ENTERTAINMENT
    .entertainment-container {
        display: grid;
        place-items: center;

        .entertainment {
            @include flex(column, nowrap, space-between, center, 0);
            max-width: 80%;

            &_text {
                border-radius: 0px 0px 6px 6px;

                &-title {
                    text-align: start;
                }

                &-description {
                    text-align: start;
                }
            }

            &_figure {
                &-image {
                    border-radius: 6px 6px 0px 0px;
                }
            }
        }
    }

    //PERFORMANCE
    .performance-container {
        display: grid;
        place-items: center;

        .performance {
            @include flex(column, nowrap, space-between, center, 0);
            max-width: 80%;

            &_text {
                border-radius: 0px 0px 6px 6px;
            }

            &_figure {
                order: -1;

                &-image {
                    border-radius: 6px 6px 0px 0px;
                }
            }
        }
    }
}

//992
@media (max-width: 992px) {

    // PLANJULIUS
    .planjulius {
        justify-content: center;
    }
}

//576PX
@media (max-width: 576px) {

    //BLOQUE 1
    .section1__home {
        padding: $lspace 0;

        .home1__txt {
            padding: $lspace;
        }
    }

    // WORKSTATION
    .workstation {
        padding: $lspace 0;

        .workstation_text {
            padding: $lspace;
        }
    }
}

//412PX
@media (max-width: 412px) {

    //BLOQUE 1
    .section1__home {
        padding: $lspace 0;
    }

    // WORKSTATION
    .workstation {
        padding: $lspace 0;
    }
}