// DESKTOP STYLES

// BLOQUE 1
.section1__home{
    @include flex (row, wrap, space-between, stretch, 0);
    padding: $xxlspace 0;
    .home1__txt{
        @include flex (column, nowrap, space-between, stretch, 0);
        max-width: 55rem;
        .home1__txt--up{
            @include flex (column, nowrap, flex-start, stretch, 4rem);
        }
        .home1__button{
            align-self: flex-end;
        }
    }
}
// BLOQUE 2
.section2__home{
    @include flex (row, wrap, space-between, stretch, 0);
    padding: $xxlspace 0;
    .home2__txt{
        @include flex (column, nowrap, space-between, stretch, 0);
        max-width: 55rem;
        .home2__txt--up{
            @include flex (column, nowrap, flex-start, stretch, 4rem);
        }
    }
    .home2__img{
        order: -1;
    }
}
// BLOQUE 3
.section3__home{
    @include flex (row, wrap, space-between, stretch, 0);
    padding-top: $xlspace;
    padding-bottom: $lspace;
    .home3__txt{
        max-width: 55rem;
    }
}
//BLOQUE 4
.section4__home{
    @include flex (row, wrap, space-between, stretch, 0);
    padding-top: $lspace;
    padding-bottom: $xlspace;
    .home4__txt{
        max-width: 55rem;
    }
}
// BLOQUE 5
.home__cards1{
    @include flex (row, wrap, space-between, stretch, 0);
    padding: $xlspace 0;
    .card{
        @include flex (column, nowrap, space-between, stretch, 0);
        max-width: 32rem;
        -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.16);
        box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.16);
        border-radius: 4px 4px 4px 4px;
        transition: 1s;
        .card:hover{
            -webkit-box-shadow: -1px 3px 21px -6px rgba(0,0,0,0.91);
            -moz-box-shadow: -1px 3px 21px -6px rgba(0,0,0,0.91);
            box-shadow: -1px 3px 21px -6px rgba(0,0,0,0.91);
        }
        .card__header{
            .card__txt{
                padding: $sspace;
                .card__title{
                    padding-bottom: .8rem;
                    line-height: 2.4rem;
                }
            }
        }
        .card__buttons{
            @include flex (row, wrap, flex-start, stretch, 1rem);
            .card__link{
                text-decoration: none;
                padding: .8rem 1.6rem;
                font-size: $smalltxt;
                color: $lightblue;
                line-height: 1.6rem;
                transition: .3s;
                .card:hover{
                    color: $darkblue;
                }
            }
        }        
    }
}
// BLOQUE 6
.background__img1{
    background-image: url(https://i.imgur.com/xo5mo08.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section6__home{
    @include flex (row, wrap, space-between, stretch, 1rem);
    padding: $xlspace 0;
    .home6__txt{
        @include flex (column, wrap, space-between, stretch, 0);
        max-width: 42rem;
        background-color: rgba(242, 244, 247, .8);
        border-radius: .4rem;
        padding: $lspace;
        div .title{
            padding-bottom: $sspace;
        }
    }
}
// RESPONSIVE
// 1400PX
@media (max-width: 1400px){
    //BLOQUE 1
    .section1__home{
        justify-content: center;
        padding-top: 0;
        padding-bottom: $xlspace;
        .home1__txt{
            padding: $lspace;
            max-width: 120rem;
            gap: 4rem;
        }
        .home1__img{
            margin-top: $xlspace;
            margin-bottom: $xlspace;
            order: -1;
        }
    }
    // BLOQUE 2
    .section2__home{
        padding-top: 0;
        padding-bottom: $xlspace;
        justify-content: center;
        .home2__txt{
            padding: $lspace;
            max-width: 120rem;
            gap: 4rem;
            .home2__button{
                align-self: flex-end;
            }
        }
        .home2__img{
            margin-top: $xlspace;
            margin-bottom: $xlspace;
            order: -1;
        }
    }
    //BLOQUE 3 / BLOQUE 4
    .section3__home, .section4__home{
        justify-content: center;
    }
    .home3__txt, .home4__txt{
        padding: $lspace;
        max-width: 120rem;
    }
    .home4__img{
        order: -1;
    }
}
// 992PX
@media (max-width: 992px){
    // BLOQUE 5
    .home__cards1{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: $lspace 0;
        gap: 3.2rem;
    }
    // BLOQUE 6
    .section6__home{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
}