// BLOQUE 1
.section1__nosotros{
    @include flex(row, wrap, space-between, stretch, 0);
    padding-top: $lspace;
    padding-bottom: $xlspace;
    .nosotros1__article{
        @include flex(column, no-wrap, flex-start, stretch, 6.4rem);
        @include max-sizes(54rem, auto);
        .article__txt{
            @include flex(column, no-wrap, space-between, stretch, 1.6rem);
            h1{
                line-height: 7.3rem;
            }
        }
        .article__button{
            align-self: flex-end;
            a{
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
        .article__img{
            @include flex(row, no-wrap, space-between, stretch, 0);
        }

    }
}
@media (max-width: 1200px){
    .background__img5{
        background-image: url(https://i.imgur.com/g5Oc9Qn.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
        background-size: cover;
        @include flex(row, wrap, center, stretch, 0);
        .section1__nosotros{
            @include flex(row, wrap, center, stretch, 0);
            .nosotros1__article{
                @include max-sizes(120rem, auto);
                background-color: rgba(242, 244, 247, .8);
                border-radius: .4rem;
                padding: $xlspace;
                @include flex(column, no-wrap, center, stretch, 6.4rem);
                .article__button{
                    align-self: center;
                }       
            }
            .nosotros1__img{
                display: none;
            }
        }
    }
}
// BLOQUE 2
.section2__nosotros{
    @include flex(column, no-wrap, space-between, stretch, 12.8rem);
    padding-top: $xlspace;
    padding-bottom: $xlspace;
    .employee__right{
        @include flex(row, no-wrap, space-between, stretch, 6.4rem);
        @include max-sizes(auto, 49.8rem);
        align-self: flex-end;
        -webkit-box-shadow: -2px 5px 7px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 5px 7px -2px rgba(0,0,0,0.75);
        box-shadow: -2px 5px 7px -2px rgba(0,0,0,0.75);
        .employee__txt{
            @include flex(column, no-wrap, space-between, stretch, 0);
            @include max-sizes(55rem, auto);
            padding-top: $lspace;
            padding-bottom: $lspace;
            padding-left: $lspace;
            padding-right: 0;
            figure{
                align-self: flex-end;
            }     
        }
        .employee__img{
                .employeecol{
                    display: none;
                }
        }
    }
    .employee__left{
        @include flex(row, no-wrap, space-between, stretch, 6.4rem);
        @include max-sizes(auto, 49.8rem);
        align-self: flex-start;
        -webkit-box-shadow: 2px 5px 7px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 5px 7px -2px rgba(0,0,0,0.75);
        box-shadow: 2px 5px 7px -2px rgba(0,0,0,0.75);
        .employee__txt{
            @include flex(column, no-wrap, space-between, stretch, 0);
            @include max-sizes(55rem, auto);
            padding-top: $lspace;
            padding-bottom: $lspace;
            padding-left: 0;
            padding-right: $lspace;
            figure{
                align-self: flex-start;
            }
        }
        .employee__img{
            .employeecol{
                display: none;
            }
        }
    }
}

//RESPONSIVE 
@media (max-width: 1200px){
    // BLOQUE 2
    .section2__nosotros{
        justify-content: center;
        .employee__right{
            align-self: center;
        }
        .employee__left{
            align-self: center;
        }
    }
}
@media (max-width: 992px){
    .section2__nosotros{
        .employee__right{
            -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
            @include flex(column, no-wrap, space-between, stretch, 1.6rem);
            @include max-sizes(none, none);
            .employee__txt{
                @include flex(column, no-wrap, space-between, stretch, 1.6rem);
                @include max-sizes(55rem, none);
                padding: $lspace;
                figure{
                    align-self: flex-end;
                    }  
            }
            .employee__img{
                align-self: center;
                order: -1;
                .employeecol{
                    display: block;
                }
                .employeecard{
                    display: none;
                }
            }
        }

        .employee__left{
            -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
            @include flex(column, no-wrap, space-between, stretch, 1.6rem);
            @include max-sizes(none, none);
            .employee__txt{
                @include flex(column, no-wrap, space-between, stretch, 1.6rem);
                @include max-sizes(55rem, none);
                padding: $lspace;
                figure{
                    align-self: flex-end;
                    }  
            }
            .employee__img{
                align-self: center;
                order: -1;
                .employeecol{
                    display: block;
                }
                .employeecard{
                    display: none;
                }
            }
        }
    }
}




// BLOQUE 3 
.section3__nosotros{
    padding-top: $xxlspace;
    padding-bottom: $lspace;
    .nosotros3__article{
        @include flex(row, wrap, space-between, stretch, 0);
        h2{
            @include max-sizes(41rem, auto);
            line-height: 10rem;
        }
        iframe{
            width: 84.8rem; 
            height: 48rem;
        }        
    }
}
@media (max-width: 1400px){
    .section3__nosotros{

        .nosotros3__article{
            @include flex(row, wrap, center, stretch, 1.6rem);
            h2{
                @include max-sizes(120rem, auto);
                text-align: center;
            }        
        }
    }
}


// BLOQUE 4 
.section4__nosotros{
    padding-top: $lspace;
    padding-bottom: $lspace;
    .nosotros4__article{
        @include flex(row, wrap, space-between, stretch, 0);
        figure{
            order: -1;
        }
        h2{
            @include max-sizes(45rem, auto);
            font-size: 6.4em;
            line-height: 10rem;
        }
        p{
            @include max-sizes(45rem, auto);
        }
    }
}
@media (max-width: 1400px){
    .section4__nosotros{

        .nosotros4__article{
            @include flex(row, wrap, center, stretch, 1.6rem);
            figure{
                order: 0;
            }
            h2{
                @include max-sizes(120rem, auto);
                text-align: center
            }
            p{
                @include max-sizes(120rem, auto);
                text-align: center;
            }
        }
    }
}