// DESKTOP
// BLOQUE 1
.section1__partners{
    justify-content: space-between;
    padding: $xlspace 0;
    .partners1__article1{
        @include flex (column, nowrap, space-between, stretch, 0);
        @include max-sizes(56rem, none);
        .article1__txt{
            @include flex (column, nowrap, space-between, stretch, 1.6rem);
        }
        .article1__img{
            @include flex (row, nowrap, space-between, stretch, 0);
        }
    }
    .partners1__article2{
        @include flex (column, nowrap, space-between, stretch, 0);
        @include max-sizes(56rem, none);
    }
}
// BLOQUE 2
.section2__partners{
    justify-content: space-between;
    padding: $xlspace 0;
    .partners2__article1{
        @include flex (column, nowrap, space-between, stretch, 3.2rem);
        @include max-sizes(55rem, none);
        p{
            line-height: 3.2rem;
        }
    }
    .partners2__article2{
        @include flex (column, nowrap, space-between, stretch, 3.2rem);
        @include max-sizes(55rem, none);
        p{
            line-height: 3.2rem;
        }
    }
}
// BLOQUE 3
.background__img3{
    background-image: url(https://i.imgur.com/s0awAEU.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    @include sizes(100%, 65rem);
    @include flex (column, nowrap, center, center, 0);
    .section3__partners{
        @include flex (column, nowrap, center, center, 3.2rem);
        .bigtitle--white{
            @extend .bigtitle;
            text-align: center;
            color: $white;
            font-size: 4em;
        }
        .txt--white{
            @include max-sizes(120rem, auto);
            @extend .txt;
            color: $white;
            text-align: center;
            line-height: 3.2rem;
        }
    }
}
//BLOQUE 4
.section4__partners{
    justify-content: space-between;
    padding: $xlspace 0;
    .partners4__article2{
        @include flex (column, nowrap, space-between, stretch, 0);
        @include max-sizes(56rem, none);
        .article2__txt{
            @include flex (column, nowrap, space-between, stretch, 1.6rem);
        }
        .article2__img{
            @include flex (row, nowrap, space-between, stretch, 0);
        }
    }
    .partners4__article1{
        @include flex (column, nowrap, space-between, stretch, 1.6rem);
        @include max-sizes(56rem, none);
    }
}

// BLOQUE 5
.section5__partners{
    justify-content: space-between;
    padding: $xlspace 0;
    .partners5__article1{
        @include flex (column, nowrap, space-between, stretch, .6rem);
        @include max-sizes(33.3rem, none);
        h3{
            font-size: 2.5em;
            line-height: 3.2rem;
        }
    }
    .partners5__article2{
        @include flex (column, nowrap, space-between, stretch, .6rem);
        @include max-sizes(33.3rem, none);
        h3{
            font-size: 2.5em;
            line-height: 3.2rem;
        }
    }
    .partners5__article3{
        @include flex (column, nowrap, space-between, stretch, .6rem);
        @include max-sizes(33.3rem, none);
        h3{
            font-size: 2.5em;
            line-height: 3.2rem;
        }
    }
}
// BLOQUE 6
.background__img4{
    background-image: url(https://i.imgur.com/NBJbLJN.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    @include sizes(100%, 65rem);
    @include flex (column, nowrap, center, center, 0);
    .section6__partners{
        @include flex (column, nowrap, center, center, 0rem);
        .partners6__article{
            @include flex (column, nowrap, center, center, 3.2rem);
            background-color: rgba(242, 244, 247, .8);
            border-radius: .4rem;
            padding: $xlspace;
            .bigtitle{
                text-align: center;
            }
            .txt{
                @include max-sizes(120rem, auto);
                text-align: center;
                line-height: 3.2rem;
            }
        }
    }
}
// RESPONSIVE
// 1200 PX
@media (max-width: 1200px){
    //BLOQUE 1
    .section1__partners{
        justify-content: center;
        padding: $xlspace 0;
        .partners1__article1{
            @include flex (column, nowrap, space-between, stretch, 3.2rem);
            @include max-sizes(none, none);
            .article1__img{
                @include flex (row, nowrap, flex-start, stretch, 3.2rem);
            }
        }
        .partners1__article2{
            @include flex (row, wrap, space-between, stretch, 0);
            @include max-sizes(none, none);
            padding: $xlspace 0;
            img{
                @include max-sizes(56rem, none);
            }
            p{
                @include max-sizes(36rem, none);
                line-height: 4.2rem;
                font-size: 2em;
            }
        }
    }
    //BLOQUE 2
    .section2__partners{
        padding: 0 0 $xlspace;
        .partners2__article1{
            @include max-sizes(46rem, none);
        }
        .partners2__article2{
            @include max-sizes(46rem, none);
        }
    }
    //BLOQUE 4
    .section4__partners{
        justify-content: center;
        padding: $xlspace 0;
        .partners4__article2{
            @include flex (column, nowrap, space-between, stretch, 3.2rem);
            @include max-sizes(none, none);
            .article2__img{
                @include flex (row, nowrap, flex-start, stretch, 3.2rem);
            }
        }
        .partners4__article1{
            @include flex (row, wrap, space-between, stretch, 0);
            @include max-sizes(none, none);
            padding: $xlspace 0;
            img{
                @include max-sizes(56rem, none);
            }
            p{
                @include max-sizes(36rem, none);
                line-height: 6.4rem;
                font-size: 2.2em;
            }
        }
    }
    //BLOQUE 5
    .section5__partners{
        justify-content: space-between;
        padding: $xlspace 0;
        .partners5__article1{
            @include max-sizes(46rem, none);
        }
        .partners5__article2{
            @include max-sizes(46rem, none);
        }
        .partners5__article3{
            @include max-sizes(none, none);
            padding: $xlspace 0 0;
        }
    }
}
//992PX
@media (max-width: 992px){
    //BLOQUE 1
    .section1__partners{
        padding: $lspace 0;
        .partners1__article1{
            .article1__txt{
                h1{
                    font-size: 3.8em;
                }
            }
            .article1__img{
                @include flex (row, nowrap, space-between, stretch, 0);
            }
        }
        .partners1__article2{
            @include flex (column, nowrap, space-between, center, 3.2rem);
            @include max-sizes(none, none);
            padding: $xlspace 0 0;
            img{
                @include max-sizes(none, none);
            }
            p{
                @include max-sizes(none, none);
                line-height: 2.4rem;
                font-size: 1.6em;
            }
        }
    }
    //BLOQUE 2
    .section2__partners{
        padding: 0 0 $xlspace;
        .partners2__article1{
            @include max-sizes(none, none);
        }
        .partners2__article2{
            @include max-sizes(none, none);
        }
    }
    //BLOQUE 4
    .section4__partners{
        padding: $lspace 0;
        .partners4__article2{
            .article2__txt{
                h2{
                    font-size: 3.8em;
                }
            }
            .article2__img{
                @include flex (row, nowrap, space-between, stretch, 0);
            }
        }
        .partners4__article1{
            @include flex (column, nowrap, space-between, center, 3.2rem);
            @include max-sizes(none, none);
            padding: $xlspace 0 0;
            img{
                @include max-sizes(none, none);
            }
            p{
                @include max-sizes(none, none);
                line-height: 2.4rem;
                font-size: 1.6em;
            }
        }
    }
    //BLOQUE 5
    .section5__partners{
        justify-content: space-between;
        padding: $xlspace 0;
        .partners5__article1{
            @include max-sizes(none, none);
        }
        .partners5__article2{
            @include max-sizes(none, none);
        }
        .partners5__article3{
            @include max-sizes(none, none);
            padding: 0;
        }
    }
}
@media (max-width: 412px){
    // BLOQUE 6
    .background__img4{
        .section6__partners{
            .partners6__article{
                padding: $xlspace 0;
            }
        }
    }
    }


















