// BLOQUE 1 DESKTOP
.section1__partners{
    @include flex (row, wrap, space-between, stretch, 0);
    padding-top: $xlspace;
    padding-bottom: $xlspace;
    .partners1__article1{
        @include flex (column, no-wrap, space-between, stretch, 0);
        @include max-sizes(55rem, auto);
        .article1__txt{
            @include flex (column, no-wrap, space-between, stretch, 3.2rem);
            .article1__txt--lower{
                @include flex (column, no-wrap, space-between, stretch, 1.6rem);
            }
        }
        .article1__img{
            @include flex (row, no-wrap, space-between, stretch, 0);
        }
    }
    .partners1__article2{
        @include flex (column, no-wrap, space-between, stretch, 3.2rem);
        @include max-sizes(56rem, auto);
        
    }
}
// BLOQUE 2 DESKTOP
.section2__partners{
    @include flex (row, wrap, space-between, stretch, 0);
    padding-top: $xlspace;
    padding-bottom: $xlspace;
    .partners2__article1{
        @include flex (column, no-wrap, space-between, stretch, 3.2rem);
        @include max-sizes(55rem, auto);
        p{
            line-height: 3.2rem;
        }
    }
    .partners2__article2{
        @include flex (column, no-wrap, space-between, stretch, 3.2rem);
        @include max-sizes(55rem, auto);
        p{
            line-height: 3.2rem;
        }
    }
}
// BLOQUE 3 DESKTOP
.background__img3{
    background-image: url(https://i.imgur.com/s0awAEU.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    @include sizes(100vw, 65rem);
    @include flex (column, no-wrap, center, center, 0);
    .section3__partners{
        @include flex (column, no-wrap, center, center, 3.2rem);
        .bigtitle--white{
            @extend .bigtitle;
            text-align: center;
            color: $white;
            font-size: 4em;
        }
        .txt--white{
            @include max-sizes(120rem, auto);
            @extend .txt;
            color: $white;
            text-align: center;
            line-height: 3.2rem;
        }
    }
}

// BLOQUE 4 DESKTOP
.section4__partners{
    @include flex (row, wrap, space-between, stretch, 0);
    padding-top: $xxlspace;
    padding-bottom: $xxlspace;
    .partners4__article1{
        @include flex (column, no-wrap, space-between, stretch, 3.2rem);
        @include max-sizes(52rem, auto);
    }
    .partners4__article2{
        @include flex (column, no-wrap, space-between, stretch, 0);
        @include max-sizes(56rem, auto);
        .article2__txt{
            @include flex (column, no-wrap, space-between, stretch, 3.2rem);
            .article2__txt--lower{
                @include flex (column, no-wrap, space-between, stretch, 1.6rem);
            }
        }
        .article2__img{
            @include flex (row, no-wrap, space-between, stretch, 0);
        }
    }
}

// BLOQUE 5 DESKTOP
.section5__partners{
    @include flex (row, wrap, space-between, stretch, 0);
    padding-top: $xxlspace;
    padding-bottom: $xxlspace;
    .partners5__article1{
        @include flex (column, no-wrap, space-between, stretch, .6rem);
        @include max-sizes(33.3rem, auto);
        h3{
            @extend .smalltitle;
            font-size: 2.5em;
            line-height: 3.2rem;
        }
        p{
            @extend .smalltxt--grey;
        }
    }
    .partners5__article2{
        @extend .partners5__article1;
    }
    .partners5__article3{
        @extend .partners5__article1;
    }
}

// BLOQUE 6 DESKTOP
.background__img4{
    background-image: url(https://i.imgur.com/NBJbLJN.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    @include sizes(100vw, 65rem);
    @include flex (column, no-wrap, center, center, 0);
    .section6__partners{
        @include flex (column, no-wrap, center, center, 0rem);
        .partners6__article{
            @include flex (column, no-wrap, center, center, 3.2rem);
            background-color: rgba(242, 244, 247, .8);
            border-radius: .4rem;
            padding: $xlspace;
            .bigtitle{
                @extend .bigtitle;
                text-align: center;
                font-size: 4em;
            }
            .txt{
                @include max-sizes(120rem, auto);
                @extend .txt;
                text-align: center;
                line-height: 3.2rem;
            }
        }
    }
}