//DESKTOP
// BLOQUE 1
.section1__producto{
    justify-content: space-between;
    padding: $xlspace $xlspace $xlspace;
    .producto1__txt{
        @include flex (column, nowrap, flex-start, stretch, 12.8rem);
        @include max-sizes(45rem, auto);
        .txt1--up{
            @include flex (column, nowrap, space-between, stretch, 4rem);
        }
        .producto1__btn{
            align-self: flex-end;
        }
    }
    .producto1__img{
        @include max-sizes(58rem, none);
    }
}
// BLOQUE 2
.section2__producto{
    justify-content: space-between;
    padding: $xxlspace $xlspace $xxlspace;
    .producto2__txt{
        @include flex (column, nowrap, space-between, stretch, 0);
        @include max-sizes(45rem, auto);
        .txt2--up{
            @include flex (column, nowrap, space-between, stretch, 1.6rem);
        }
        .producto2__btn{
            align-self: flex-end;
        }
    }
    .producto2__img{
        @include max-sizes(58rem, none);
    }
}
// BLOQUE 3
.background__img2{
    background-image: url(https://i.imgur.com/qwOSfLK.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    .section3__producto{
        padding: 38.4rem 0 $xxlspace;
        @include flex (column, nowrap, flex-end, center, 2rem);
    }
}
// BLOQUE 4
.section4__producto{
    justify-content: space-between;
    padding: $xxlspace $xlspace $xxlspace;
    .producto4__txt{
        @include flex (column, nowrap, space-between, stretch, 0);
        @include max-sizes(45rem, auto);
        .txt4--up{
            @include flex (column, nowrap, space-between, stretch, 1.6rem);
        }
        .producto4__btn{
            align-self: flex-end;
        }
    }
    .producto4__img{
        @include max-sizes(58rem, none);
    }
}
// BLOQUE 5
.section5__producto{
    justify-content: space-between;
    padding: $xxlspace $xlspace $xxlspace;
    .producto5__txt{
        @include flex (column, nowrap, space-between, stretch, 0);
        @include max-sizes(45rem, auto);
        .txt5--up{
            @include flex (column, nowrap, space-between, stretch, 3.2rem);
        }
        .producto5__btn{
            align-self: flex-end;
        }
    }
    .producto5__img{
        @include max-sizes(58rem, none);
    }
}
// BLOQUE 6
.section6__producto{
    padding: $xxlspace 0;
    .producto6__maintitle{
        padding: 0 0 $xxlspace;
        text-align: center;
    }
    .producto6__article{
        justify-content: space-between;
        .producto6__txt{
            @include flex(column, nowrap, space-between, stretch, 1.6rem);
            p{
                font-size: 3.2em;
                line-height: 3.6rem;
                @include max-sizes(36rem, 36rem);
            }
        }
        .producto6__txt--responsive{
            display: none;
        }
    .product6__images{
       @include flex(row, nowrap, space-between, stretch, 1.6rem);
        }
    }
}
//RESPONSIVE
// 1400 PX
@media (max-width: 1400px){
    //BLOQUE 1
    .section1__producto{
        padding: 0 0 $xlspace;
    }
    //BLOQUE 2
    .section2__producto{
        padding: $xxlspace 0 $xlspace;
    }
    //BLOQUE 4
    .section4__producto{
        padding: $xxlspace 0 $xlspace;
    }
    //BLOQUE 5
    .section5__producto{
        padding: $xxlspace 0 $xlspace;
    }
    //BLOQUE 6
    .section6__producto{
        justify-content: center;
        padding: $xlspace 0;
        .producto6__maintitle{
            padding: 0 0 $xlspace;
        }
        .producto6__article{
            text-align: center;
            .producto6__txt{
                display: none;
            }
            .producto6__txt--responsive{
                display: block;
                padding: 0 0 $xlspace;
                p{
                    font-size: 3.2em;
                    line-height: 3.6rem;
                }
            }
        .product6__images{
            margin: 0 auto;
            }
        }
    }
}
// 1200 PX
@media (max-width: 1200px){
    //BLOQUE 1
    .section1__producto{
        justify-content: center;
        .producto1__txt{
            @include max-sizes(none, none);
            text-align: center;
            padding: $lspace 0 0;
            gap: 3.2rem;
            .producto1__btn{
                align-self: center;
            }
        }
        .producto1__img{
            order: -1;
        }   
    }
    //BLOQUE 2
    .section2__producto{
        justify-content: center;
        .producto2__txt{
            @include max-sizes(none, none);
            text-align: center;
            padding: $lspace 0 0;
            gap: 3.2rem;
            .producto2__btn{
                align-self: center;
            }
        }
        .producto2__img{
            order: -1;
        }   
    }
    //BLOQUE 4
    .section4__producto{
        justify-content: center;
        .producto4__txt{
            @include max-sizes(none, none);
            text-align: center;
            padding: $lspace 0 0;
            gap: 3.2rem;
            .producto4__btn{
                align-self: center;
            }
        }
        .producto4__img{
            order: -1;
        }   
    }
    //BLOQUE 5
    .section5__producto{
        justify-content: center;
        .producto5__txt{
            @include max-sizes(none, none);
            text-align: center;
            padding: $lspace 0 0;
            gap: 3.2rem;
            .producto5__btn{
                align-self: center;
            }
        }
        .producto5__img{
            order: -1;
        }   
    }
}



