
/* BLOQUE 1 CON FONDO DE IMAGEN TIENDA */
.section1__tienda{
    @include flex (row, wrap, space-between, stretch, 0);
    margin: 6.4rem auto;
    padding: 6.4rem 16rem 6.4rem 3.2rem;
    background-image: url(https://i.imgur.com/aTKykIf.png);
    background-repeat: no-repeat;
    background-size: cover;
    .tienda1__txt{
        @include flex (column, no-wrap, space-between, stretch, 0rem);
        max-width: 61rem;
        .txt--up{
            @include flex (column, no-wrap, flex-start, stretch, 4rem);
        }
        .tienda1__btns{
            @include flex (row, no-wrap, flex-start, center, 3.2rem);
                .tienda1__link2{
                    text-decoration: none;
                    font-size: $smalltxt;
                    color: $darkblue;
                    font-weight: 400;
                    transition: .8s;
                    &:hover{
                        color: $lightblue;
                    }
                }
        }
    }
}

/* EN ESTE ESTILO NO PUDE UTILIZAR LA SYNTAXIS DE SASS PORQUE LO UTILIZO MAS ABAJO. LO VOY A HACER UN ELEMENTO DE BUTTONS EN PARTIAL. */
.tienda1__link1{
    @extend .btn-primary;
    background-color: $lightblue;
    color: $white;
    padding: 1.6rem 3.2rem;
    font-size: $smalltxt;
    border-radius: 0 0 0 0;
}

/* BLOQUE 2 TIENDA CARDS */

.section2__tienda{
    @include flex (row, wrap, space-between, stretch, 0);
    row-gap: 12.8rem;
    padding: $xxlspace 0;
    .card2{
        @include flex (column, no-wrap, flex-start, stretch, 0);
        max-width: 36.1rem;
        .card2__txt{
            @include flex (column, no-wrap, space-between, stretch, 0);
            padding: .8rem 3.2rem .8rem 3.2rem;
            .card2__txt--upper{
                @include flex (column, no-wrap, flex-start, stretch, 1.6rem);
            }    
        }
    }
}

/* BLOQUE 3 TIENDA  */

.section3__tienda{
    @include flex (row, wrap, space-between, stretch, 0);
    margin: 6.4rem auto;
    background-image: url(https://i.imgur.com/OeXk21l.png);
    background-repeat: no-repeat;
    background-size: cover;
    .tienda3__txt{
        @include flex (column, no-wrap, flex-start, stretch, 6.4rem);
        padding: 3.2rem 0 17.4rem 3.2rem;
        max-width: 55rem;   
        .tienda3__title, .tienda3__descrip{
            color: $white;
        }
    }
}

/* BLOQUE 4 TIENDA  */

.tienda4__maintitle{
    padding: 12.8rem 0;
    text-align: center;
}
.tienda4__aoeimg{
    background-image: url(https://i.imgur.com/5k0j6Oi.png);
}
.tienda4__haloimg{
    background-image: url(https://i.imgur.com/YmhYMTv.png);
}
.tienda4__fh5img{
    background-image: url(https://i.imgur.com/InrFws6.png);
}
.tienda4__bgimg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 31rem;
}
.tienda4__txt{
    @include flex (column, no-wrap, flex-start, stretch, 0);
    row-gap: 1.6rem;
}
.tienda4__txtdescrip{
    @include flex (column, no-wrap, flex-start, stretch, 0);
    row-gap: 1.6rem;
    padding-bottom: 6.4rem;
}

@media (max-width: 1200px){
    .section1__tienda{
        justify-content: center;
        padding: 6.4rem 3.2rem;
        gap: 4rem;
    }
}
@media (max-width: 992px){
    .tienda1__img{
        order: -1;
    }
}

@media (max-width: 992px){
    .section2__tienda{
        justify-content: center;
    }
}

@media (max-width: 992px){
    .section3__tienda{
        justify-content: center;
    }
}