// DESKTOP STYLES

//BLOQUE 1
.section1__tienda{
    @include flex (row, wrap, space-between, stretch, 0);
    margin-top: $xlspace;
    padding: 6.4rem 16rem 6.4rem 3.2rem;
    background-image: url(https://i.imgur.com/aTKykIf.png);
    background-repeat: no-repeat;
    background-size: cover;
    .tienda1__txt{
        @include flex (column, nowrap, space-between, stretch, 0rem);
        @include max-sizes(61rem, none);
        .txt--up{
            @include flex (column, nowrap, flex-start, stretch, 4rem);
        }
        .tienda1__btns{
            @include flex (row, nowrap, flex-start, center, 3.2rem);
                .tienda1__link2{
                    text-decoration: none;
                    font-size: $smalltxt;
                    color: $darkblue;
                    font-weight: 400;
                    transition: .8s;
                }
                .tienda1__link2:hover{
                    color: $lightblue;
                }
        }
    }
}
.tienda1__link1{
    @extend .btn-primary;
    background-color: $lightblue;
    color: $white;
    padding: 1.6rem 3.2rem;
    font-size: $smalltxt;
    border-radius: 0 0 0 0;
    transition: all .3s;
}
.tienda1__link1:hover{
    background-color: $darkblue;
    color: $white;
}
//BLOQUE 2
.section2__tienda{
    @include flex (row, wrap, space-between, stretch, 0);
    row-gap: 12.8rem;
    padding: $xxlspace 0;
    a{
        text-decoration: none;
        .juliuspersonal{
            height: 51rem;
        }
        .card2{
            @include flex (column, nowrap, flex-start, stretch, 0);
            @include max-sizes(36.1rem, auto);
            transition: all .3s;
            .card2__txt{
                @include flex (column, nowrap, space-between, stretch, 0);
                padding: .8rem 3.2rem .8rem 3.2rem;
                .card2__txt--upper{
                    @include flex (column, nowrap, flex-start, stretch, 1.6rem);
                }    
            }
        }
        .card2:hover{
            -webkit-box-shadow: -1px 3px 21px -6px rgba(0,0,0,0.91);
            -moz-box-shadow: -1px 3px 21px -6px rgba(0,0,0,0.91);
            box-shadow: -1px 3px 21px -6px rgba(0,0,0,0.91);
        }
    }
}
//BLOQUE 3
.section3__tienda{
    @include flex (row, wrap, space-between, stretch, 0);
    margin: 6.4rem auto;
    background-image: url(https://i.imgur.com/OeXk21l.png);
    background-repeat: no-repeat;
    background-size: cover;
    .tienda3__txt{
        @include flex (column, nowrap, flex-start, stretch, 6.4rem);
        @include max-sizes(55rem, none);
        padding: 3.2rem 0 17.4rem 3.2rem;
        .tienda3__title, .tienda3__descrip{
            color: $white;
        }
    }
}
// BLOQUE 4
.tienda4__maintitle{
    padding: 12.8rem 0;
    text-align: center;
}
.tienda4__aoeimg{
    background-image: url(https://i.imgur.com/5k0j6Oi.png);
}
.tienda4__haloimg{
    background-image: url(https://i.imgur.com/YmhYMTv.png);
}
.tienda4__fh5img{
    background-image: url(https://i.imgur.com/InrFws6.png);
}
.tienda4__bgimg{
    @include sizes(100%, 31rem);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.tienda4__txt{
    @include flex (column, nowrap, flex-start, stretch, 0);
    row-gap: 1.6rem;
}
.tienda4__txtdescrip{
    @include flex (column, nowrap, flex-start, stretch, 0);
    row-gap: 1.6rem;
    padding-bottom: 6.4rem;
}
// RESPONSIVE
// 1200PX
@media (max-width: 1200px){
    // BLOQUE 1 
    .section1__tienda{
        justify-content: center;
        padding: 6.4rem 3.2rem;
        gap: 4rem;
    }
}
// 992PX
@media (max-width: 992px){
    // BLOQUE 1
    .tienda1__img{
        order: -1;
    }
    // BLOQUE 2
    .section2__tienda{
        justify-content: center;
    }
    // BLOQUE 3
    .section3__tienda{
        justify-content: center;
    }
}

